@import "../../sass/extends/flex.scss";
@import "../../sass/mixins/flex.scss";
@import "../../sass/variables/index.scss";

a:active {
  color: $theme-color;
}

.form {
  width: 30em;
  height: 24em;
  padding: 1em;
  border: 0.15em solid $theme-color;
  border-radius: 3em;
}

.formDiv {
  width: 100%;
  height: 100%;
  @include full-center_j_d(space-around, column);
}

.formName {
  font-size: 2em;
}

.inputs {
  height: 45%;
  @include full-center_j_d(space-between, column);
}

.formButtons {
  @extend %full-center;
}

.alternatives {
  width: 20em;
}

.logIn {
  display: flex;
  justify-content: space-between;
}

@media (hover: hover) {
  .logInRef:hover {
    text-decoration: underline;
  }
}
